html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body.main {
    background-image: url(../Fotos/UTAD.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.paginainicial {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.nav-item-UC {
    font-weight: bold;
}

.nav-item-Exercicios {
    font-weight: bold;
}




