html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.navbar-rounded {
    border-radius: 30px;

}

body.main {
    background-image: url(../Fotos/UTAD.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.paginainicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.nav-item-UC {
    font-weight: bold;
}

.nav-item-Exercicios {
    font-weight: bold;
}


.layout-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/*PLANTEL*/

body.plantel {
    margin: 0 auto;
    background: #34495e;
    font-family: "Open Sans", sans-serif;
    cursor: default;
}

header.formacao {
    width: 100%;
    color: #eee;
    border-bottom: 1px solid #eee;
    font-size: 32px;
    padding: 20px 70px;
}

main.equipa {
    padding: 40px 50px;
}

.pitch {
    background: #26A65B;
    width: 460px;
    height: 490px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

    .pitch h4 {
        position: absolute;
        color: #eee;
        text-align: center;
        margin: -40px 153px;
    }

    .pitch .container {
        width: 368px;
        height: 450px;
        border: 2px solid #eee;
    }

    .pitch .half {
        margin: 217px 0 0 -2px;
        width: 348px;
        border: 1px solid #eee;
    }

        .pitch .half:before {
            position: absolute;
            margin: -63px 115px;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            border: 2px solid #eee;
            content: "";
        }

    .pitch .box1 {
        position: absolute;
        margin: -2px 114px;
        width: 120px;
        height: 60px;
        border: 2px solid #eee;
    }

    .pitch .pen1 {
        position: absolute;
        margin: -2px 21px;
        width: 75px;
        height: 35px;
        border: 2px solid #eee;
    }

    .pitch .box2 {
        position: absolute;
        margin: 169px 114px;
        width: 120px;
        height: 60px;
        border: 2px solid #eee;
    }

    .pitch .pen2 {
        position: absolute;
        margin: 23px 21px;
        width: 75px;
        height: 35px;
        border: 2px solid #eee;
    }

.pos {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #BDC3C7;
    color: #34495e;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: 100;
    transition: .3s linear all;
    z-index: 1;
}

    .pos:hover {
        color: #BDC3C7;
        background: #34495e;
    }

.suplentes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.suplente {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #BDC3C7;
    color: #34495e;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: 100;
    margin: 0 10px;
    transition: .3s linear all;
    z-index: 1;
}

    .suplente:hover {
        color: #BDC3C7;
        background: #34495e;
    }

/* Estilos personalizados para a barra de navegação */
.navbar {
    transition: background-color 0.3s ease;
}

    .navbar.scrolled {
        background-color: #f8f9fa; /* Cor de fundo quando rolada */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra quando rolada */
    }

.navbar-nav .nav-link.active {
    font-weight: bold; /* Estilo do link ativo */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Cor do link ao passar o mouse */
}

body {
    background-color: #34495e;
}

h1 {
    color: #fff;
}

.table {
    background-color: #fff;
    border-radius: 10px;
    padding-left: 5rem;
}

.last-row {
    border-bottom: none;
}

.btn {
    margin-right: 5px;
}


/*Aviso nas Submissões*/
.nota-aviso {
    background-color: #ffe6e6;
    color: #cc0000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}




