@{
    ViewData["Title"] = "Home Page";
}

<body class="main">
    <div class="paginainicial">
        <h1>SCORE</h1>
        <h2>SUPERA AS TUAS EXPECTATIVAS E OS TEUS ADVERSÁRIOS</h2>
        <p>
            O Projeto SCORE consiste no desenvolvimento de um programa com o objetivo de colmatar as
            dificuldades sentidas pelos alunos, sobretudo os alunos que frequentam o primeiro ano do
            ensino superior, em acompanhar as atividades letivas de Unidades Curriculares(UC) que
            incluem conteúdos mais exigentes ou menos atrativos.
        </p>
    </div>

</body>