<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/Fotos/SCORE.png" />
    <link rel="stylesheet" href="~/SCORE.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-rounded">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Fotos/SCORE.png" width="40" height="50" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item-UC">
                            <a class="nav-link smooth-scroll" asp-area="" asp-controller="Ucs" asp-action="Index">UC</a>
                        </li>
                        <li class="nav-item-Exercicios">
                            <a class="nav-link smooth-scroll" asp-area="" asp-controller="Exercicios" asp-action="Index">Exercicios</a>
                        </li>
                        <li class="nav-item-Exercicios">
                            <a class="nav-link smooth-scroll" asp-area="" asp-controller="Equipas" asp-action="Index">Minha Equipa</a>
                        </li>
                        <li class="nav-item-Exercicios">
                            <a class="nav-link smooth-scroll" asp-area="" asp-controller="TurmaAlunos" asp-action="ListarUtilizadores">Inscrever Alunos</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            // Exibir a janela de visualização ao passar o mouse sobre um link
            $('a.smooth-scroll').hover(function () {
                var linkText = $(this).text();
                $('.preview-window').text(linkText).show();
            }, function () {
                $('.preview-window').hide();
            });
        });
    </script>
</body>
</html>




